.txh{
    display: flex;
    align-items: center;
    justify-content: center;
}
body,html,#root{
    width: 100%;
    height: 100%;
    background: #eee;
}
.HeadTitle{
    width: 100%;
    padding: 0.2rem 0;
    display: flex;
    color: white;
    background:rgb(74, 144, 225);
    .Headlef{
        width: 1rem;
        height: 100%;
        .txh;
    }
    .Headmid{
        flex: 1;
        font-weight: bold;
        font-size: 0.3rem;
        .txh;
    }
    .Headrig{
        width: 1rem;
        height: 100%;
        .txh;
    }
}

.Section{
    .txh;
    flex-direction: column;
    margin-top: 0.2rem;
    width: 100%;
    height: 2rem;
    background: white;
    input{
        width: 90%;
        height: 30%;
    }
    button{
        width: 90%;
        height: 30%;
        margin-top: 0.2rem;
        background: #3190E8;
        color: white;
        border: none;
    }
}

.nullfn{
    width: 100%;
    height: 0.6rem;
}